root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
max_line_length = 150
ktlint_standard_max-line-length = disabled

# Disable wildcard imports except for standard packages
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,kotlinx.**
ij_kotlin_packages_to_use_import_on_demand = org.junit.jupiter.api.Assertions.*

[**/src/test/**/*.{kt,kts}]
ktlint_standard_property-naming = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_if-else-wrapping = disabled


